:root {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: black;
}

.viewport{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
 width: 100%;
 flex-basis: 30px;
 border-bottom: 2px solid lightgrey;
 display: flex;
 align-items: center;
}

.picContainer {
    flex-basis: 70%;;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.pic {
    width: 400px;
    height: 200px;
    border: 5px solid black;
    border-radius: 2%;
    text-align: center;
}

.searchContainer {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    width: 450px;
    height: 20px;
    border-radius: 2%;
}

.searchButton {
    margin-top: 10px;
}

.bottomDiv {
    width: 100%;
    flex-basis: 30px;
    border-top: 2px solid lightgrey;
}

.resultsContainer {
    width: 450px;
    height: auto;
    border-radius: 2%;
}

.result{
    height:20px;
    border: 2px solid lightgrey;
    border-radius: 2%;
    margin:3px;
}